<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="E2E">

	<test thread-count="5" name="test">
		<classes>
			<class name=""></class>
			<class name=""></class>
			<class name=""></class>
		</classes>
	</test>

	<test thread-count="5" name="test">
		<packages>
			<package name=""></package>
		</packages>
	</test>

	<test thread-count="5" name="test">

	</test>

</suite>